/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

button{
    color: #111111;
    cursor: pointer;
}
label{
    margin-bottom: 0;
}
input textarea button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
i{
    font-style: inherit;
}
input, input:focus-visible{
    border: none;
    outline: none;
}

/* RESET END */


/* DEFAULT CLASSES START */
.flex-container{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.align-items-baseline{
    align-items: baseline;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.orange-text{
    color: #ff5912;
}
.w-100{
    width: 100%;
}
.font-italic{
    font-family: 'Harmonia_italic';
}
.font-bold{
    font-family: 'Harmonia_bold';
}
.flex-direction-column{
    flex-direction: column;
}
.font-family-black{
    font-family: 'Harmonia_black';
}
.font-semibold{
    font-family: 'Harmonia_semibold';
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.display-none{
    display: none;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
/* DEFAULT CLASSES END */


/* DEFAULT COMPONENT START */
.btn {
    padding: 18px 30px;
    background-color: #ff5912;
    color: #fff;
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    transition: all .2s linear;
    border-radius: 0;
}

.btn:hover{
    color: #fff;
    background-color: #34404b;

}

.btn-default{
    font-size: 18px;
    padding: 11px 23px;
}

.btn-radius{
    border-radius: 50px;
}


.icon-add-to-cart-ic:hover{
    background-position: 0 -38px;
}
.icon-cart-ic:hover{
    background-position: -54px -19px;
}
.icon-like-ic:hover{
    background-position: -19px -80px;
}
.icon-search-ic:hover{
    background-position: -81px 0;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-user-ic:hover{
    background-position: -44px -38px;
}
.default-section{
    padding: 60px 0;
}
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}

.subscribe-form{
    padding: 37px 42px;
}
.subscribe .subscribe-title{
    font-size: 18px;
    margin-right: 22px;
}
.subscribe .subscribe-description{
    font-size: 14px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    width: 255px;
    color: #7c8791;
    font-size: 14px;
}

header{
    background-color: #fff;
}

header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}

header .top-header .phones-list li + li{
    margin-left: 20px;
}

header .top-header .phones-list li i.custom-icon{
    margin-right: 10px;
}

.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}

.items-carousel .product-info-section{
    padding: 28px 0 60px;
}
.items-carousel .product-info-section span{
    font-family: 'Harmonia_semibold';
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    color: #3c4751;
}
.items-carousel .product-info-section p{
    font-size: 16px;
    color: #495662;
}
.items-carousel .order-section{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.items-carousel .order-section .order-btn{
    margin-left: 30px;
}
.items-carousel .order-section .order-btn:hover{
    color: #ff5912;
}
.items-carousel .order-section .order-btn:hover i.icon-cart-ic{
    background-position: -54px -19px;
}
.items-carousel .order-section .order-btn i.custom-icon{
    margin-right: 8px;
}
.item{
    background-color: #fff;
    padding: 30px 0;
    transition: all .3s linear;
    text-align: center;
}
.new-items .item{
    height: 402px;
    position: relative;
}
.item:hover{
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.new-items .item .item-img{
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.new-items .item .item-img img{
    max-height: 100%;
}
.new-items .item:hover .item-img{
    height: 90px;
}
.new-items .item-description{
    padding: 0 40px;
}
.item .item-title{
    font-family: 'Harmonia_bold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    padding: 30px 0;
}
.new-items .item:hover .item-title{
    color: #ff5912;
}
.new-items .item .item-price{
    font-family: 'Harmonia_bold';
    color: #ff5912;
    font-size: 18px;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.new-items .item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li +li{
    margin-left: 30px;
}
.social-nav a + a{
    margin-left: 15px;
}

.menu-nav{
    font-size: 16px;
    margin-left: 80px;
    padding: 40px 0;
}
.menu-nav li:hover{
    color: #ff5912;
}
.menu-nav li + li{
    margin-left: 40px;
}
.user-nav{
    margin-left: auto;
    position: relative;
}

.user-nav li + li{
    margin-left: 30px;
}
.user-nav .icon-search-ic:hover{
    background-position: -81px 0;
}
.user-nav .icon-user-ic:hover{
    background-position: -44px -38px;
}
.user-nav .icon-cart-ic:hover{
    background-position: -54px -19px;
}
.shop-circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    position: absolute;
    top: -19px;
    right: 3px;
    font-style: normal;
}
.load-more{
    padding: 30px 0;
    margin: 80px 0 0;
    background-color: #fff;
    transition: all .3s linear;
}
.load-more:hover{
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.load-more .circle{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ff5912;
}
.load-more span + span{
    margin-left: 6px;
}

.sale-section{
    height: 100px;
}
.sale-section .special-offer-area{
    background-color: #fff;
}
.sale-section .adv-area{
    background-color: #fff;
}
.rhomb-section{
    color: #fff;
}

.rhombus{
    height: 60px;
}

.rhombus::before{
    content: '';
    display: block;
    height: 60px;
    width: 50px;
    transform: rotate(45deg);
    background-color: #ff5912;
}
.rhombus::after{
    content: '';
    display: block;
    height: 60px;
    width: 50px;
    transform: rotate(-45deg) translateX(85%) translateY(-71%);
    background-color: #ff5912;
    opacity: 50%;
}
.rhomb-section i{
    font-family: 'Harmonia_black';
    font-size: 18px;
}
.rhomb-text{
    width: 50px;
    transform: translateX(-100%);
}
.special-offer-area{
    padding: 0 59px;
}
.offer-description{
    margin-right: 75px;
}
.offer-description .title{
    font-size: 22px;
}
.special-offer-area .offer-description .title{
    margin-bottom: 15px;
}
.add-cart-section .custom-icon{
    margin-right: 20px;
}
.add-cart-section .custom-icon:hover{
    background-position: 0px -38px;
}

.adv-area{
    width: 470px;
}
.adv-area .adv-area-title{
    margin-bottom: 15px;
}
.adv-area .adv-area-info{
    letter-spacing: 0.6em;
    opacity: 50%;
}

.item.mini-item{
    background-color: #fff;
    padding: 35px 28px;
    text-align: inherit;
}
.mini-item .item-img{
    margin-right: 50px;
}
.mini-item .item-title{
    padding: 0 0 30px;
}
.mini-item .item-rating{
    font-size: 16px;
    color: #e8ecf3;
}

.mini-item .item-price{
    font-size: 16px;
}
.mini-item .add-to-cart {
    font-size: 16px;
    opacity: 0;
    height: 0;
    transition: opacity .2s linear;
}
.mini-item .item-rating-price-section{
    transition: opacity .2s linear;
}
.mini-item:hover .item-rating-price-section{
    opacity: 0;
    height: 0;
    transition: opacity .2s linear;
}
.mini-item:hover .add-to-cart{
    height: 16px;
    opacity: 100%;
    transition: opacity .2s linear;
}
.mini-item .add-to-cart i {
    margin-right: 6px;
}

.checkbox-group + .checkbox-group, .aside-section .category li + li{
    margin-top: 39px;
}

.aside-section .category li:hover{
    color: #ff5912;
}

.checkbox-group input[type='checkbox']{
    display: none;
}
.checkbox-group label, .aside-section .category{
    font-size: 16px;
    color: #34404b;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type='checkbox']:checked + label{
    color: #ff5912;
}
.checkbox-group input[type='checkbox']:checked + label::before{
    border-color: #ff5912;
}
.footer{
    padding: 89px 0;
    background-color: #fff;
    font-size: 14px;
    margin-top: 60px;
}

.footer .logo{
    margin-bottom: 21px;
}
.footer .footer-nav{
    width: 485px;
}
.footer-nav .footer-column{
    height: 100%;
}
.footer-nav .footer-column li{
    position: relative;
    width: fit-content;
}
.footer-nav .footer-column li:hover{
    color: #ff5912;
}

.footer-nav .footer-column li::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #34404b;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -14px;
}

.footer-nav .footer-column li:hover::before{
    background-color: #ff5912;
}
.footer-nav .footer-column li.fake-li::before{
    content: '';
    height: 0;
    width: 0;
}

.footer-nav .footer-column .fake-li{
    height: 14px;
}
.footer .payment-methods{
    font-size: 16px;
}
.footer .payment-methods span{
    margin-bottom: 18px;
}
/* DEFAULT COMPONENT END */


/* ALL STYLES START */
.add-cart-section .item-price{
    font-size: 32px;
}
.category-wrap{
    padding: 120px 0 60px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-size: 18px;
    margin-bottom: 35px;
}
.category-wrap .new-items .row + .row{
    margin-top: 30px;
}
.category-wrap .load-more {
    margin-top: 30px;
}
.subscribe{
    /*padding: 120px 0;*/
}

/*Product HTML start*/
.product-wrap {
    padding: 100px 0 125px;
}
.flex-control-thumbs{
    margin: 68px 0 0;
}
.flex-control-thumbs li{
    width: calc(33.3333% - 14px);
    padding: 7px 32px;
    background-color: #f4f6f8;
    height: 70px;
}

.flex-control-thumbs li:hover{
    background-color: #ff5912;
    opacity: 0.7;
}

.flex-control-thumbs li + li {
    margin-left: 21px;
}

.flex-control-thumbs li img{
    height: 100%;
    width: auto;
    margin: auto;
}
.size-radio input[type='radio']{
    display: none;
}
.size-radio input[type='radio']:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio label{
    font-size: 14px;
    color: #34404b;
    font-family: 'Harmonia_semibold';
    text-transform: uppercase;
    cursor: pointer;
}

.size-radio + .size-radio{
    margin-left: 20px;
}

.product-description .title{
    font-size: 52px;
    max-width: 530px;
}
.product-description .subtitle{
    font-size: 18px;
    margin-bottom: 35px;
    font-family: "Harmonia_semibold";
    max-width: 530px;
}
.product-description p{
    font-size: 16px;
    line-height: 1.875em;
    max-width: 530px;
    margin-bottom: 40px;
}
.choose-size span{
    margin-right: 40px;
}
.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.choose-size span{
    font-size: 18px;
    font-family: "Harmonia_semibold";
}

.quantity{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #ff5912;
}
.quantity span{
    margin-right: 20px;
}

.order-now{
    padding: 40px 0;
}
.product-price{
    font-size: 20px;
    font-family: 'Harmonia_black';
}
.product-share{
    margin-left: auto;
    margin-right: 24px;
}
.product-share li + li{
    margin-left: 30px;
}
.related-products.default-section{
    padding: 120px 0 60px;
}
.related-products .title{
    font-size: 28px;
}
.related-products p{
    font-size: 16px;
}
.related-products .new-items{
    margin: 80px 0 0;
}
/*Product HTML end*/
/* ALL STYLES END */




















